.fixed-table-container {
  height: 500px;
  box-sizing: border-box;
  border: 1px solid #000000;
  margin-bottom: 40px;
}
.fixed-table-container table {
  border-collapse: collapse;
  width: 100%;
}
.fixed-table-container th,
.fixed-table-container td {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 8px;
  text-align: center;
  vertical-align: center;

  /**
    * Current implementation doesn't work when
    * cells in a row have different heights
    */
  white-space: nowrap !important;
}

.fixed-table-container td:first-child {
  background: #ff6565;
}
.fixed-table-container tr:last-child td {
  border-bottom: 0;
}
.fixed-table-container th:last-child,
.fixed-table-container td:last-child {
  border-right: 0;
}
